/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* adding general styles for site */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* add Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Nav styles */
    nav {
        font-family: 'Oswald';
        font-size: 150%;
    }

/* Header */
header {
    background-color: aquamarine;
    font-size: 150%;
}

h1 {
    font-family: 'Bitcount Grid Double';
    
}

/* main content */
main {
    background-color: beige;
    flex: 1 0 auto;
    
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/owl-what.jpg") no-repeat center center/cover;
    position: relative;
}


/* Footer */
#social-networks {
    background-color: white;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 180%;
    padding: 7%;
    color: ;
}